html {
	font-family: 'Raleway', sans-serif;
	
}
body {
	margin: 0;
	color: white;
	background-color: black;
}
form {
	position: fixed;
	top:50%;
	left: 50%;
	width: 500px;
	max-width: 90%;
	-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
input {
	display: block;
	text-align: center;
	width: 100%;
}
a {
	color: inherit;
	text-decoration: none;
	font-weight: bold;
} 
.buttonclk, .textinp {
	background-color: rgba(0,0,0,0);
	color: white;
	border-color: rgba(0,0,0,0);
	font-weight: bold;
}
.buttonclk {
	text-transform: uppercase;
	cursor: pointer;
}
.textinp  {
	cursor: text;
}
#pixabay{
	width: calc(100vw);
    height: 100vh;
    position: fixed;
    display: block;
    top: 0;
    z-index: -100;
    opacity: 0.9;
    background-image: url(../graphics/background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 0 70vh rgba(0,0,0,1) inset;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    white;
}
@-webkit-keyframes autofill {
    to {
        color: white;
        background: transparent;
    }
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
